In [ ]:
import gzip
import json
import numpy as np
import pandas as pd

In [ ]:
# mount to Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# go to folder containing goodreads_reviews_dedup.json.gz, goodreads_books.json, and books.csv from Kaggle dataset
%cd "/content/drive/My Drive/data/ce256/project"

/content/drive/My Drive/data/ce256/project

Load the reviews.

Notebook: https://github.com/MengtingWan/goodreads/blob/master/samples.ipynb

In [ ]:
# This function shows how to load datasets
def load_data(file_name, head = 10000):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            if (head is not None) and (count > head):
                break
    return data

In [ ]:
# Load and display sample records of book reviews
reviews = load_data('goodreads_reviews_dedup.json.gz')
np.random.choice(reviews)

{'book_id': '29276588',
 'date_added': 'Mon Nov 14 20:34:13 -0800 2016',
 'date_updated': 'Sun Jan 22 09:12:16 -0800 2017',
 'n_comments': 0,
 'n_votes': 12,
 'rating': 4,
 'read_at': 'Sat Jan 14 00:00:00 -0800 2017',
 'review_id': '0de5ec40fb9feed73446f3c3d445be06',
 'review_text': '4.5 Stars! \n "I\'m good at being what people want me to be. Watch me . . . You\'ll see." \n In this smart and very engaging mystery, we\'re treated to three different perspectives on a crime that occurs very early on in the book. Hattie is a good girl, having grown up in a small town where everyone knows everyone else. She aches to break free and move to New York City after high school. Hattie is the perfect daughter, student, girlfriend and friend. \n But Hattie has a secret life, one that threatens the delicate balance of her small Minnesota farming town. She is merely pretending, acting a role, when the "real" Hattie is far from perfect. Her actions will affect and change many people\'s lives forever. Peter is her high school English teacher who feels trapped in a loveless marriage. And Del is the lead investigator on Hattie\'s brutal murder. His voice lends a dry wit and careful reason to the series of events unfolding around him. Can he be neutral when the families he has known his whole life are brutally affected by this unspeakable crime? \n "Mom warned me that I had a lot to learn about the world. I wished she would\'ve mentioned how much the learning was going to hurt." \n I was enthralled by this deeply moving thriller! The small-town atmosphere is perfectly captured by the author. Every characters is flawed, some more so than others. I never saw the ending coming. This book was fast-paced, smart and engaging. Don\'t be put off by the endless comparisons to other best-sellers in this genre. \'Everything You Want Me to Be\' stands on its own as a poignant and suspenseful story. Highly recommended for all fans of psychological thrillers and murder mysteries! \n "You can\'t live your life acting for other people. Other people will just use you up. You have to know yourself and figure out what you want. I can\'t do that for you. Nobody can." \n (With thanks to Atria Books for the ARC.)',
 'started_at': 'Sun Jan 08 00:00:00 -0800 2017',
 'user_id': '01ec1a320ffded6b2dd47833f2c8e4fb'}

In [ ]:
# Load and display sample records of books
books = load_data('goodreads_books.json.gz')
np.random.choice(books)

{'asin': '',
 'authors': [{'author_id': '13919300', 'role': ''}],
 'average_rating': '4.75',
 'book_id': '26120432',
 'country_code': 'US',
 'description': '"I\'m tired of being what you want me to be, feeling so faithless, lost under the surface." - Linkin Park.\n*A novella* *Can be read before or after the Cut series*\nPlaying local shows in seedy, downtown pubs when I was just Jamie with his guitar, and coming home to my girl who was waiting for me. A girl I couldn\'t imagine living without. That was my life. A life I loved. A life that may not have been perfect, or filled with money and fame - but it was perfect to me.\nPlaying packed out stadiums in beautiful cities, where Jay Ryker is who they scream for; and coming home to an empty hotel and a bottle of bourbon waiting for me. A bottle I wouldn\'t dare try and live without. This was my life. A life I loathed. A life that may seem perfect on the outside, filled with money and fame - but it wasn\'t perfect to me.\nAfter losing my world that meant everything to me; I need to find my way back to the living.\nI\'m not sure I even want to. I don\'t think I would survive any more pain.\nIt may seem weak, but it\'s easier being numb.',
 'edition_information': '',
 'format': 'Paperback',
 'image_url': 'https://images.gr-assets.com/books/1439876373m/26120432.jpg',
 'is_ebook': 'false',
 'isbn': '',
 'isbn13': '9781539779773',
 'kindle_asin': '',
 'language_code': 'eng',
 'link': 'https://www.goodreads.com/book/show/26120432-numb',
 'num_pages': '',
 'popular_shelves': [{'count': '318', 'name': 'to-read'},
  {'count': '4', 'name': 'currently-reading'},
  {'count': '3', 'name': 'novella'},
  {'count': '2', 'name': 'kindle'},
  {'count': '1', 'name': 'written'},
  {'count': '1', 'name': 'ultimate-book-boys'},
  {'count': '1', 'name': 'own-as-paperback'},
  {'count': '1', 'name': 'shelf-m-authors'},
  {'count': '1', 'name': 'genre-otherfiction'},
  {'count': '1', 'name': 'wins-to-be-read'},
  {'count': '1', 'name': '1-amazon'},
  {'count': '1', 'name': '01-tbr-on-kindle'},
  {'count': '1', 'name': 'on-my-kindle'},
  {'count': '1', 'name': '01-books'},
  {'count': '1', 'name': 'to-read-have'},
  {'count': '1', 'name': 'freebie'},
  {'count': '1', 'name': 'contemporary-romance'},
  {'count': '1', 'name': 'tears'},
  {'count': '1', 'name': 'series'},
  {'count': '1', 'name': 'pain'},
  {'count': '1', 'name': 'loss'},
  {'count': '1', 'name': 'arc'},
  {'count': '1', 'name': 'giveaway'},
  {'count': '1', 'name': 'unreleased'}],
 'publication_day': '9',
 'publication_month': '12',
 'publication_year': '2016',
 'publisher': '',
 'ratings_count': '15',
 'series': ['810760'],
 'similar_books': [],
 'text_reviews_count': '10',
 'title': 'Numb (Cut, #0.5)',
 'title_without_series': 'Numb (Cut, #0.5)',
 'url': 'https://www.goodreads.com/book/show/26120432-numb',
 'work_id': '46068352'}

In [ ]:
reviews_list = pd.DataFrame.from_dict(reviews)
books_list = pd.DataFrame.from_dict(books)

In [ ]:
# convert list into pandas dataframe
goodreads_reviews_df = pd.DataFrame.from_dict(reviews)

print(len(goodreads_reviews_df))
goodreads_reviews_df.head()


# convert list into pandas dataframe
goodreads_books_df = pd.DataFrame.from_dict(books)

print(len(goodreads_books_df))
goodreads_books_df.head()

10001
10001

         isbn  ...                               title_without_series
0  0312853122  ...                        W.C. Fields: A Life on Film
1  0743509986  ...                                        Good Harbor
2              ...  The Unschooled Wizard (Sun Wolf and Starhawk, ...
3  0743294297  ...                               Best Friends Forever
4  0850308712  ...  Runic Astrology: Starcraft and Timekeeping in ...

[5 rows x 29 columns]

In [ ]:
# print largest and smallest book ID in reviews dataset
# convert string to int
print("Row with largest book ID")
print(goodreads_reviews_df.loc[goodreads_reviews_df['book_id'].astype(int).idxmax()])
print("Row with smallest book ID")
print(goodreads_reviews_df.loc[goodreads_reviews_df['book_id'].astype(int).idxmin()])

Row with largest book ID
user_id                          01ec1a320ffded6b2dd47833f2c8e4fb
book_id                                                  36252773
review_id                        eb51d6b8d38c25855c47de9b749365aa
rating                                                          5
review_text     4.5 Kinky Stars!! \n Eve Dangerfield continues...
date_added                         Mon Jul 31 00:18:59 -0700 2017
date_updated                       Wed Sep 27 13:50:15 -0700 2017
read_at                            Wed Sep 13 00:00:00 -0700 2017
started_at                         Tue Sep 12 00:00:00 -0700 2017
n_votes                                                        17
n_comments                                                      0
Name: 401, dtype: object
Row with smallest book ID
user_id                     4672eb229c808b792b8ea95f01f19784
book_id                                                    1
review_id                   6b75b2116cd8145e0c18eb5387d726f0
rating                                                     5
review_text     One of the best books in the series I think.
date_added                    Thu Jan 03 12:15:33 -0800 2013
date_updated                  Sun Oct 02 14:00:28 -0700 2016
read_at                       Sun Sep 06 00:00:00 -0700 2015
started_at                    Thu Sep 03 00:00:00 -0700 2015
n_votes                                                    0
n_comments                                                 4
Name: 3016, dtype: object

In [ ]:
num_match_id = 0
for review_id in goodreads_reviews_df["book_id"]:
  for book_id in goodreads_books_df["book_id"]:
    if review_id == book_id:
      num_match_id += 1

print(num_match_id)

41

In [ ]:
# Get Kaggle books dataset as df
# https://www.kaggle.com/jealousleopard/goodreadsbooks
kaggle_books_df = pd.read_csv("books.csv", error_bad_lines=False)
print(len(kaggle_books_df))
kaggle_books_df.head()

11123

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

   bookID  ...        publisher
0       1  ...  Scholastic Inc.
1       2  ...  Scholastic Inc.
2       4  ...       Scholastic
3       5  ...  Scholastic Inc.
4       8  ...       Scholastic

[5 rows x 12 columns]

In [ ]:
num_match_id = 0
for review_id in goodreads_reviews_df["book_id"]:
  for book_id in kaggle_books_df["bookID"]:
    if review_id == str(book_id):
      num_match_id += 1

print(num_match_id)

682

In [ ]:
for book_id in goodreads_reviews_df["book_id"]:
    if book_id == "1":
      num_match_id += 1
      print("Got it")
      break

Got it

In [ ]:
for book_id in kaggle_books_df["bookID"]:
    if book_id == 1:
      print("Got it")
      break

Got it

In [ ]:
# Get 1-100k Kaggle dataset as df
# https://www.kaggle.com/bahramjannesarr/goodreads-book-datasets-10m
kaggle_100k_books_df = pd.read_csv("book1-100k.csv")
print(len(kaggle_100k_books_df))
kaggle_100k_books_df.head()

58292

   Id  ... RatingDist3
0   1  ...    3:159960
1   2  ...    3:211781
2   3  ...    3:567458
3   4  ...    3:288821
4   5  ...    3:194848

[5 rows x 18 columns]

In [ ]:
num_match_id = 0
for review_id in goodreads_reviews_df["book_id"]:
  for book_id in kaggle_100k_books_df["Id"]:
    if review_id == str(book_id):
      num_match_id += 1

print(num_match_id)

976